* {
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100%;
    background-color: rgba(30, 30, 250, .2);
}

main {
    text-align: center;
    box-sizing: border-box;
}

main > article {
    width: 80%;
    margin-bottom: 4%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

a {
    text-decoration: none;
}

span > a {
    color: white;
}

main > form {
    padding-top: 3%;
}

input[type="submit"] {
    background-color: #970DFA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

input[type="button"] {
    background-color: #970DFA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

input[type="button"]:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

input[disabled] {
    background-color: #ccc;
    opacity: 0.5;
}

input[disabled]:active {
    background-color: #666;
    opacity: 0.5;
}

.login label {
    display: inline-block;
    font-size: 1rem;
    width: 7rem;
}
  
.login input {
    width: 10rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.registration label {
    display: inline-block;
    font-size: 1rem;
    width: 7rem;
}

.registration input {
    width: 10rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 40%;
}

.success {
    color: green;
}

.error {
    color: red;
}

main article img {
    background-color: white;
    border: 3px solid black;
    margin: 2%;
    width: 280px;
    height: 210px;
    object-fit: scale-down;
}

main article img:active {
    transform: scale(1.5);
}

article {
    border: 3px solid black;
    border-radius: 10px;
}

.imgcontainer .btn {
    background-color: white;
    position: absolute;
    top: 2.5%;
    left: 85%;
}

.bx.bx-search {
    font-size: 24px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

.search-nav{
    padding: 0 6.5% 0;
}

.pagebutton.active li{
    background: linear-gradient(to right, #970DFA, rgb(191, 13, 250)) !important;
}

.custom-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    opacity: 0.4;
}

.bx-trash {
    font-size: 30px;
    text-align: center;
}

.bx-trash:hover {
    color: red;
    cursor: pointer;
}

.usernamecontainer a {
    text-decoration: none;
    color: #545454;
    font-weight: bold;
}

.usernamecontainer a:hover {
    color: #878787;
}

/*Inizio personalizzazione commento*/
.input-comment {
    width: 280px;
    position: relative;
}

.commentlabel {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    color: #000;
}

#comment {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #382f26;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: #000;
}

.commentlabel::before {
    content: "";
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

#comment:focus {
    border: 2px solid #970DFA;

}

#comment:focus+.commentlabel {
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}

#comment::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

#comment:focus::placeholder {
    opacity: 1;
    animation-delay: .2s;
}

#comment:focus+.commentlabel,
#comment:valid+.commentlabel{
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}
/*Fine personalizzazione commento*/

/*Inizio personalizzazione nuovo post*/
.post-label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    color: #000;
}

.input-post {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: #000;
}

.post-label::before {
    content: "";
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.input-post:focus {
    border: 2px solid #970DFA;
}

.input-post:focus+.post-label {
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}

.input-post::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

.input-post:focus::placeholder {
    opacity: 1;
    animation-delay: .2s;
}

.input-post:focus+.post-label,
.input-post:valid+.post-label {
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}
/*Fine personalizzazione nuovo post*/

/*Inizio personalizzazione descrizione*/
.div-input-description {
    width: 30%;
    position: relative;
    height: 10%;
    margin: auto 0;
}

.description-label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    color: #000;
}

.input-description {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: black;
}

.description-label::before {
    content: "";
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.input-description:focus {
    border: 2px solid #970DFA;
}

.input-description:focus+.description-label {
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}

.input-description::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

.input-description:focus::placeholder {
    opacity: 1;
    animation-delay: .2s;
}

.input-description:focus+.description-label,
.input-description:valid+.description-label {
    top: -10px;
    color: #970DFA;
    font-size: 14px;
}
/*Fine personalizzazione descrizione*/

main article .divpostimages {
    background: rgba(255, 255, 255, .2);
    margin: 1.5% 5%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
}

/* MOBILE VERSION */
@media only screen and (max-width: 768px) {

    .sidebar {
        display: none;
    }
    
    .toggle {
        display: none;
    }

    .solodesktop {
        display: none;
    }

    .input-search {
        display: none;
    }

    main {
        width: 100%;
        margin-top: 60px;
    }

    main > article {
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    footer ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        font-size: 24px;
        padding: 0 16px;
        color: #fff;
    }

    .i-bell {
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 24px;
        padding: 0 16px;
        color: #fff;
    }

    .i-exit {
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 24px;
        padding: 0 16px;
        color: #fff;
    }

    .base {
        position: relative;
    }

    .notifications_number {
        position: absolute;
        top: 0%;
        right: 0%;
        left: 50%;
        bottom: 57%;
        width: 15px;
        height: 15px;
        background: #ff2c74;
        color: #fff;
        border-radius: 50%;
        font-size: 15px;
        line-height: 15px;
        font-family: sans-serif;
        text-align: center;
    }
   
    main article img {
        width: 280px;
        height: 210px;
    }

    .profileimages {
        background-color: white;
        border: 1px solid black;
        margin: 1.5% 0;
    }

    .profileimages img {
        width: 160px;
        height: 120px;
        object-fit: scale-down;
    }

    .profileimg {
        width: 280px;
        height: 210px;
        object-fit: scale-down;
    }

    .profileimagesnovotes {
        width: 160px;
        height: 120px;
        object-fit: scale-down;
        background-color: white;
        border: 1px solid black;
        margin: 1.5% 0;
    }

    .div-input-post {
        width: 50%;
        height: 50px;
        position: relative;
        margin: 1.5% auto;
    }

    main article header {
        width: 100%;
        margin: .5% 0 3.5% 1%;
    }

    main article header img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .4);
        float: left;
        margin-right: 3%;
    }
    
    .headerpost a {
        margin: 0 0 .5% 0;
        font-size: 15px;
    }
    
    .headerpost p {
        margin: 0 0 .5% 0;
        text-align: left;
        font-size: 14px;
    }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 769px){
    
    .sidebar {
        width: 120px;
        height: 100%;
        backdrop-filter: blur(40px);
        background: rgba(10, 10, 10, .65);
        box-shadow: 0 8px 32px rgb(2, 4, 24);
        border-right: 2px solid rgba(255, 255, 255, .09);
        transition: .4s ease-in-out;
        position: fixed;
    }

    .sidebar.open {
        width: 360px;
    }

    .sidebar .nav-title {
        color: #dadada;
        margin: 10px 0 18px;
        padding: 0 0 0 30px;
        font-size: 26px;
        font-weight: 500;
        pointer-events: none;
        opacity: 0;
    }

    .sidebar.open .nav-title {
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
    }

    .sidebar nav {
        padding: 60px 30px 0 0;
    }

    .sidebar nav .nav-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px;
        width: 100%;
        height: 56px;
        padding: 0 16px;
        margin: 8px 0;
        color: #fff;
        transition: .3s;
    }
    
    .sidebar nav .nav-item i {
        font-size: 26px;
    }
    
    .sidebar nav .nav-item span {
        font-size: 18px;
        margin-left: 8px;
        opacity: 0;
        pointer-events: none;
    }
    
    .sidebar.open nav .nav-item span {
        opacity: 1;
        pointer-events: visible;
        transition: .4s;
        transition-delay: .2s;
    }

    .sidebar nav .nav-item:hover {
        background: rgba(255, 255, 255, .1);
    }

    .toggle {
        cursor: pointer;
        font-size: 38px;
        line-height: 50%;
        text-align: center;
        padding: 2px 0 2px 2px;
        background: rgba(255, 255, 255, 1);
        transition: .3s;
    }
    
    .toggle.open {
        background: rgb(255, 255, 255, .5);
        transition: .3s;
    }

    .sidebar .toggle i {
        transition: .4s linear;
    }
    
    header {
        display: grid;
        align-items: center;
        justify-content: left;
    }

    header .toggle:hover{
        background: rgb(255, 255, 255, .7);
    }

    .search-nav {
        padding: 0;
        margin-left: 100px;
    }

    main {
        margin-top: 60px;
        margin-left: 120px;
        width: calc(100% - 120px);
    }
    
    main > article {
        margin-left: auto;
        margin-right: auto;
    }

    .solomobile {
        display: none;
    }
    
    .sidebar .notifications_number {
        position: absolute;
        top: 198px;
        right: 40px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ff2c74;
        color: #fff;
        line-height: 18px;
        font-family: sans-serif;
        text-align: center;
        font-size: 14px;
        transition: .5s !important;
    }
    
    .sidebar.open .notifications_number {
        top: 208px;
        right: 143px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 18px;
        transition: .5s !important;
    }

    main article img {
        width: 400px;
        height: 370px;
    }

    .profileimages {
        background-color: white;
        border: 1px solid black;
        margin: 1.5% auto;
    }
    
    .profileimages img {
        width: 180px;
        height: 120px;
        object-fit: scale-down;
    }

    .profileimg {
        width: 280px;
        height: 210px;
        object-fit: scale-down;
    }

    .profileimagesnovotes {
        width: 200px;
        height: 140px;
        object-fit: scale-down;
        background-color: white;
        border: 1px solid black;
        margin: 0 1.5%;
    }

    .div-input-post {
        width: 30%;
        height: 50px;
        position: relative;
        margin: 1.5% auto;
    }

    main article header {
        width: 100%;
        margin-left: 1%;
        margin-top: .5%;
    }

    main article header img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .4);
        float: left;
        margin-right: 5%;
    }
    
    .headerpost a {
        margin: 1% 0;
        font-size: 18px;
    }
    
    .headerpost p {
        margin: 1% 0;
    }
}

/*LOGO*/
.icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5% 5%;
}

.icons .icon {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: .3s ease-out;
}

.icons .icon:hover {
    scale: 1.10;
}

.icons .icon .bg {
    position: absolute;
    top: -5px;
    right: -5px;
    background: linear-gradient(to right, #970DFA, rgb(191, 13, 250));
    width: 100%;
    height: 100%;
    border-radius: 30%;
    transform: rotate(14deg);
    transition: .3s ease-out;
}

.icons .icon:hover .bg {
    transform: rotate(24deg);
}

.icons .icon .glass {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30%;
}

.icons .icon img {
    width: 30px;
    height: 25px;
    filter: invert(50%) opacity(92%) brightness(220%);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}